{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom">
					Log In
				</legend>
				{{ form | crispy }}
			</fieldset>
			<div class="form-group">
				<button type="submit" class="btn btn-outline-info">
					Login
				</button>
			</div>
			<div class="border-top pt-3">
				<small class="text-muted">
					Need an account?
				</small>
				<a href="{% url 'user-registration' %}" class="ml-1"><small>Sign Up Here!</small></a>
			</div>
		</form>
	</div>
{% endblock content %}